extends layout

block content
  h1= title
  div.search-form
    input.input.link.link_num_1(type="text")
    input.input.link.link_num_2(type="text")
    input.button.button_type_upload(type="button" value="Upload")
