box-shadow(args...)
  -webkit-box-shadow args
  -moz-box-shadow args
  box-shadow args

user-select(args...)
  -webkit-user-select: args
  -moz-user-select: args
  -ms-user-select: args
  user-select: args

