@import "variables"

body
  background: $greyColor
  padding: 10px
  font: $fontSize Helvetica, Arial, sans-serif

.page
  font-size: $fontSize
  -webkit-font-smoothing: subpixel-antialiased


@import "mixins"

@import "blocks/button"
@import "blocks/input"

@import "blocks/content"
@import "blocks/form"
@import "blocks/compare"