.compare
  display: block
  position relative
  margin $gapSize 0 0 0
  padding: 20px
  background: #fff
  box-shadow 0 0 0 1px rgba(0,0,0,.06)

.compare__container
  position: relative
  overflow: hidden

.compare__loader
  display none
  position absolute
  content: ''
  top 0
  left 0
  width: 100%
  height: 100%
  padding: 50px 50%
  z-index: 1
  background rgba(246,245,243, 0.5)

.compare_loader_show .compare__loader
  display block

.compare__table-wrapper
  margin: 0 0 0 225px

  overflow-x: auto
  overflow-y: hidden

.compare__table
  width: auto
  table-layout: fixed
  border-spacing: 0px

.compare__cell
  box-sizing border-box
  width: 200px
  min-width: 200px
  max-width: 200px
  padding: 5px 10px
  vertical-align: top

.compare__cell_type_label
  width: 0
  min-width: 0
  max-width: 0
  padding: 0
  vertical-align: top !important

.compare__cell_type_label+.compare__cell
  padding: 5px 10px 5px 8px
  border-left: 2px solid #fff

.compare__cell_type_label .compare__label
  position: absolute
  top: auto
  left: 0
  width: 212px
  min-width: 212px
  max-width: 212px
  height: 500px
  padding: 5px 5px 0 10px
  background-color: #fff

.compare__cell_type_label .compare__hidden
  overflow: hidden
  width: 0

.compare__hidden-label
  width: 210px
  padding: 5px 0

.compare__image
  display: block
  width 180px

.compare__row:hover,
.compare__row:hover .compare__label
  background: #f6f5f3

.compare__row.compare__row_hover_no:hover,
.compare__row.compare__row_hover_no:hover .compare__label
  background #fff

.compare__row_type_title .compare__cell
  font-weight bold