.compare
  display block

.compare__container
  position relative
  overflow hidden

.compare__table-wrapper
  margin 0 0 0 150px

  overflow-x auto
  overflow-y hidden

.compare__table
  width auto
  table-layout fixed