.content
  display block

.content__container
  margin: 0 20px

.content__title
  margin 20px 0 10px 0
  font-size 22px
  font-weight: normal

.compare__not-found
  margin: 20px auto
  width: 100px
  color: darken($greyColor, 20%)