include compare-row
.compare__container
  if items.length
    .compare__table-wrapper
      table.compare__table
        +compare-row('title', items)
        +compare-row('image', items)
        - each specification in specifications
          +compare-row(specification, items)